body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
img {
  width: 100%;
  height: auto;
}
figcaption {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
.oplata-img {
  width: 501px; 
  height: auto; 
}