body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Чтобы капли не выходили за границы */
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: auto;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #3e8e41;
}

#output-text {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  white-space: pre-wrap; /* Сохраняет переносы строк */
}

.hamburger-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2; /* Меню поверх остального контента */
  appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.hamburger-menu input[type="checkbox"] {
  /* Скрываем только галочку: */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.menu-button {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.menu-links {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu-links li {
  padding: 10px 20px;
}

.menu-links a {
  text-decoration: none;
  color: black;
}

#menu-toggle:checked + .menu-button + .menu-links {
  display: block;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  z-index: 1; /* Чтобы контент был поверх дождя */
}

img {
  width: 100%;
  height: auto;
}

figcaption {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.oplata-img {
  width: 501px;
  height: auto;
}

.капля {
  position: absolute;
  top: -10px;
  width: 100px; /* Настройте размер по необходимости */
  height: auto;  /* Высота подстроится автоматически */
  animation: падение 5s linear infinite;
}

@keyframes падение {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(100vh);
  }
}
.nav-button { /* Новый класс для кнопок навигации */
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px; 
}

.nav-button:hover { 
  background-color: #3e8e41; 
}